<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Item</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<div class = "main">
    <form action="#"
          th:action="@{/atualizar-item/{id}(id=${itemCardapio.id})}"
          th:object="${itemCardapio}"
          method="post">
        <h2 class = "titulo">Editar Item</h2>
        <div class = "container">
            <input type="hidden" th:field="*{restaurante.id}" th:value="${itemCardapio.restaurante.id}">
            <input class ="custom-input"  type="text" th:field="*{nome}" id="nome" placeholder="Nome do Item">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
            <br/>
            <br/>
            <input class ="custom-input" type="text" th:field="*{descricao}" id="descricao" placeholder="Descrição">
            <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
            <br/>
            <br/>
            <input class ="custom-input" type="number" step="0.01" th:field="*{preco}" id="preco" placeholder="Preço" value="">
            <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
            <br/>
            <br/>
            <div class="custom-button-container">
                <button class="custom-button" type="submit" value="Adicionar">Editar</button>
            </div>
        </div>
        <p><a class = "link" href="/index">Voltar</a></p>
    </form>
</div>
</body>
</html>

