.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-container,
.table-container {
    width: 48%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}
